@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --purple: #8427D1;
  --green: #4CD6B7;
  --red: #D04F51;
  --gray: #868686;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
	background-color: #141415;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

nav .volts-count {
  color: var(--purple);
  margin-left: auto;
  margin-right: 20px;
  font-weight: 700;
}

nav img {
  cursor: pointer;
  margin-top: 30px;
  margin-right: 50px;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
}

header .logo {

}

main .friends {
  display: flex;
  justify-content: center;
}

main .users {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .friends figure {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #1c1c1d;
  border-radius: 3px;
  width: 75px;
  height: 75px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 40px 40px 20px;
}

main .friends figure:hover > figcaption {
  color: #ffffff!important;
}

main .friends figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: -50px;
  color: var(--gray);
  font-weight: bold;
}

main .friends figcaption .return {
  font-size: 15px;
}

main .friends figcaption .arrow-positive {
  float: left;
  background-image: url(../images/icons/arrow-up.svg);
  width: 13px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

main .friends figcaption .arrow-negative {
  float: left;
  background-image: url(../images/icons/arrow-down.svg);
  width: 13px;
  height: 12px;
  margin-right: 5px;
  margin-top: 5px;
}

main section {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section .tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

main section .tag {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: 2px solid #222222;
  background: #222222;
  color: var(--gray);
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

main section .card {
  padding: 50px;
}

main section .card h1 {
  font-weight: 700;
  color: var(--gray);
  font-size: 28px;
}

main section .card .subtitle {
  font-weight: 900;
  color: var(--gray);
  font-size: 15.0px;
}

main section .card .title {
  font-weight: 900;
  color: #FFFFFF;
  font-size: 30.0px;
}

main section .card .return {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main section .card .return .icon {
  position: relative;
  width: 50px;
  height: 50px;
}

main section .card .return .icon .oval {
  position: absolute;
  background-image: url(../images/icons/return-oval.svg);
  left: -1px;
  top: -1px;
  width: 40px;
  height: 40px;
}

main section .card .return .icon .arrow {
  position: absolute;
  background-image: url(../images/icons/arrow-up.svg);
  left: 12px;
  top: 13px;
  width: 13px;
  height: 12px;
}

main section .card .return .value {
  display: flex;
  font-weight: 900;
  font-size: 15px;
  margin-top: 8px;
  align-content: center;
}

main section .card .chart {
  position: relative;
  background-color: #1c1c1d;
  border-radius: 5px;
  width: 680px;
  height: 420px;
  margin-top: 30px;
}

main section .card .chart #container {
  height: 350px;
  padding-top: 40px;
  padding-left: 20px;
}

main section .card .chart .chart-icon {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

main section .card .chart #expand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;
  position: absolute;
  background-color: #40404070;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  text-align: center;
}

main section .card .chart #edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;
  position: absolute;
  background-color: #40404070;
  width: 30px;
  height: 30px;
  right: 50px;
  top: 10px;
  border-radius: 5px;
  text-align: center;
}

main .search {
  position: relative;
  display: flex;
  justify-content: center;
}

main .search input {
  background-color: #1c1c1dff;
  border-radius: 5px;
  width: 480px;
  height: 51px;
  padding-left: 20px;
  border: 0;
  outline-width: 0;
  font-weight: 700;
  color: var(--gray);
  font-size: 16px;
  opacity: 1;
  text-align: left;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

main .search input:hover {
  width: 520px;
}

main .search img {
  position: absolute;
  top: 16px;
  right: 20px;
}

main section article .annotate {
  color: var(--gray);
  margin-top: 50px;
  border-radius: 5px;
  width: 450px;
  height: 500px;
  margin-top: 30px;
  padding: 30px;
}

main section article .annotate .tab {
  background-color: #1c1c1d;
  width: inherit;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main section article .annotations {
  margin-top: 100px;
  border-radius: 5px;
  background-color: #1c1c1d;
  height: 480px;
  width: 400px;
}
