<div class="profile-items">
  <div class="picture" style="background-image:url(../images/{{username}}.jpg)"></div>
  <div>
    <h1>{{name}}</h1>
    <span id="username">@{{username}}</span>
  </div>
</div>

<div class="return">
  <div class="icon">
    <div class="oval"></div>
    <div class="arrow"></div>
  </div>
  <span class="value">10.49%</span>
</div>
