<a href="/{{fundID}}.html">
  <figure style="background-image:url(images/{{username}}.jpg);">
    <figcaption>
      @{{username}}
      <div>
        <div class="arrow-{{direction}}"></div>
        <span class="return {{direction}}">{{roi}}%</span>
      </div>
    </figcaption>
  </figure>
</a>
