<section>
    <aside class="card">
			<div class="profile-items">
				<div class="picture" style="background-image:url(images/{{username}}.jpg)"></div>
				<div>
					<h1>{{name}}</h1>
					<span id="username">@{{username}}</span>
				</div>
			</div>

      <div class="return">
        <div class="icon">
          <div class="oval"></div>
          <div class="arrow"></div>
        </div>
        <span class="value">{{roi}}</span>
      </div>

      <div class="chart"></div>
    </aside>

		<article>
			<img src="images/icons/filter-icon.svg">
			<div class="users">
				<div class="tab">
					<span class="username">@steez</span>
					<span class="return positive">2.37%</span>
				</div>
				<div class="tab">
					<span class="username">@alphavantage</span>
					<span class="return positive"></span>
				</div>
			</div>
		</article>

		<aside class="description">
			<h2>Tags</h2>
			<div class="properties">
				<h2>female founders</h2>
			</div>
		</aside>
</section>
